## .NET / MAUI
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
launchSettings.json

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## OS
.DS_Store
Thumbs.db
